body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    background-color: black;
}

.header {
    font-size: 14px;
    text-align: center;
}

.header h1 {
    display: inline
}

.header a {
    color: white;
    text-decoration: none;
}

hr {
    color: #0f0f0f;
}

input {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

main a {
    color: white;
    text-decoration: none;
}