body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    background-color: black;
}

.header {
    font-size: 14px;
    text-align: center;
}

.header h1 {
    display: inline
}

.header a {
    color: white;
    text-decoration: none;
}

hr {
    color: #0f0f0f;
}

input {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

main a {
    color: white;
    text-decoration: none;
}

video {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

select {
    z-index: 999999;
    position: absolute;
    right: 0.5%;
    top: 7%;
    appearance: none;
    background: black;
    color: red;
    text-align: center;
    font-size: 2.1rem;
    border: 1px solid transparent;
}

.color {
    color: white !important;
}

#close {
    position:fixed;
    color: red;
    z-index: 9999999999999999999;
    right: 0%;
    top: -0.3%;
    font-size: 3rem;
    background: black;
    opacity: 0.5;
}

.episode {
    -webkit-border-radius: 28 !important;
    -moz-border-radius: 28 !important;
    border-radius: 28px !important;
    font-family: Arial !important;
    color: #aaaaaa !important;
    font-size: 20px !important;
    background: #262729 !important;
    padding: 6px 4px 6px 4px !important;
    text-decoration: none !important;
}

.season {
    -webkit-border-radius: 28 !important;
    -moz-border-radius: 28 !important;
    border-radius: 28px !important;
    font-family: Arial !important;
    color: #aaaaaa !important;
    font-size: 20px !important;
    background: #262729 !important;
    padding: 6px 4px 6px 4px !important;
    text-decoration: none !important;
}